<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="chc.servicemanagertray.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="ServiceManagerTray.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <chc.servicemanagertray.Properties.Settings>
      <setting name="TrayBalloonShown" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Favorites" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
        </value>
      </setting>
      <setting name="SortColumnName" serializeAs="String">
        <value>DisplayName</value>
      </setting>
      <setting name="SortOrder" serializeAs="String">
        <value>Ascending</value>
      </setting>
    </chc.servicemanagertray.Properties.Settings>
    <ServiceManagerTray.Properties.Settings>
      <setting name="TrayBalloonShown" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Favorites" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
        </value>
      </setting>
    </ServiceManagerTray.Properties.Settings>
	
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
